<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title><%= title %></title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="screen-orientation" content="portrait">
        <meta name="full-screen" content="yes">
        <meta name="format-detection"content="telephone=no, email=no" />



        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@6.3.4/swiper-bundle.min.css' type='text/css'  />
        <link rel='stylesheet' href='index.css?inline' />
        <% if( id === 'one' ){ %>
          <link rel='stylesheet' href='@styles/css.css?inline' />
        <% } %>
       

     
        <!--[if lt IE]>
        <script type='text/javascript' src='//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js'></script>
        <![endif]-->
        <!--[if lt IE]>
        <script type='text/javascript' src='//cdn.bootcss.com/respond.js/1.4.2/respond.min.js' ></script>
        <![endif]-->
        <!--[if lt IE 8]>
        <script type='text/javascript' src='https://cdn.bootcss.com/rem/1.3.4/js/rem.min.js'></script>
        <![endif]-->
        <!-- /meta -->
    </head>
    <!-- /head -->
<body class="home blog logged-in" > 
    <header>
        <div class="header-top f-oh">
            <div class="mw1400 f-cb plpr15">
                
                <p class="f-ib f-fr"><a href="">GET A QUOTE</a></p>
            </div>
        </div>
        <div class="header-content f-cb mw1400">
            <h1 class="logo f-ib"><a href="/" >home</a></h1>
            <!-- /logo -->
            <div class="hamburger hamburger--slider f-dn" id="m">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div class="m-nav f-dn">
                <ul class="m-nav-ul">
                    <li class="m-nav-item"><a href="/contact/" class="m-nav-drop">Contact</a></li>
                    <li class="m-nav-item"><a href="" class="m-nav-drop">menu</a>
                        <ul class="m-nav-ul2">
                            <li class="m-nav-item2"><a href="">sub-menu</a></li>
                            <li class="m-nav-item2"><a href="">sub-menu</a></li>
                            <li class="m-nav-item2"><a href="">sub-menu</a></li>
                            <li class="m-nav-item2"><a href="">sub-menu</a></li>
                            <li class="m-nav-item2"><a href="">sub-menu</a></li>
                            <li class="m-nav-item2"><a href="">sub-menu</a></li>
                            <li class="m-nav-item2"><a href="">sub-menu</a></li>
                            <li class="m-nav-item2"><a href="">sub-menu</a></li>
                            <li class="m-nav-item2"><a href="">sub-menu</a></li>
                        </ul>
                    </li>
                    <li class="m-nav-item"><a href="" class="m-nav-drop">menu</a></li>
                    <li class="m-nav-item"><a href="" class="m-nav-drop">menu</a></li>
                    <li class="m-nav-item"><a href="" class="m-nav-drop">menu</a></li>
                    <li class="m-nav-item"><a href="/about/" class="m-nav-drop">menu</a></li>
                    <li class="m-nav-item"><a href="/blog/" class="m-nav-drop">blog</a>
                        <ul class="m-nav-ul2">
                            <li class="m-nav-item2">News</li>
                            <li class="m-nav-item2">Article</li>
                            <li class="m-nav-item2">Article</li>
                            <li class="m-nav-item2">Article</li>
                            <li class="m-nav-item2">Article</li>
                        </ul>
                
                    </li>
                </ul>
            </div>
            <!-- /m-menu -->
            <nav class="f-fr nav">
                <ul id="menu-head-nav" class="f-cb nav-ul"><li id="menu-item-153" class="f-fl nav-li1 menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-153"><a title="标题属性" rel="xfn" href="/" >Home</a></li>
                    <li class="f-fl nav-li1 nav-li1-drop menu-item menu-item-type-custom menu-item-object-custom menu-item-156"><a href="javascript:;">Products</a></li>
                    <li class="f-fl nav-li1 menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-157"><a href="/about.html">About Us</a></li>
                    <li class="f-fl nav-li1 menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-157"><a href="/faq.html">FAQs</a></li>
                    <li  class="f-fl nav-li1 nav-li1-drop2 menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-158"><a href="/">Blog</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-159"><a href="/">Company News</a></li>
                            <li  class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-160"><a href="/">Article</a></li>
                        </ul>
                    </li>
                    <li class="f-fl nav-li1 menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="/">Contact Us</a></li>
                </ul>            
                <!-- <ul class="f-cb nav-ul">
                    <li class="f-fl nav-li1"><a href="/">Home</a></li>
                    <li class="f-fl nav-li1 nav-li1-drop"><a href="">menu</a></li>
                    <li class="f-fl nav-li1"><a href="">About Us</a></li>
                    <li class="f-fl nav-li1"><a href="">Applications</a></li>
                    <li class="f-fl nav-li1 nav-li1-drop2">
                        <a href="">Blog</a>
                        <div class="nav-sub2 f-dn">
                            <p><a href="">Company News</a></p>
                            <p><a href=""> Article</a></p>
                        </div>
                         /sub2 
                    </li>
                    <li class="f-fl nav-li1"><a href="">Contact Us</a></li>
                </ul> -->
                <div class="nav-sub f-dn">
                    <span class="close-subnav f-dn f-csp">X</span>
                    <div class="nav-subinner mw1400">
                        <div class="nav-submenu-row">
                            <div class="nav-submenu">
                                <i class="iconfont icon-butterfly"></i>
                                <div id="head-submenu-bf" class="head-submenu-bf">
                                    <ul id="menu-head-submenu1" class="menu">
                                        <li id="menu-item-524" class="nav-subt menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-has-children menu-item-524"><a href="/" aria-current="page">menu</a>
                                            <ul class="sub-menu nav-sub-current">
                                                <li id="menu-item-504" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-504"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-505" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-505"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-506" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-506"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-507" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-507"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-508" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-508"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-509" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-509"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-510" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-510"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-511" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-511"><a href="">sub-menu</a></li>
                                                <li id="menu-item-512" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-512"><a href="/">sub-menu</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                            <div class="nav-submenu">
                                <i class="iconfont icon-gate"></i>
                                <div id="head-submenu-bf" class="head-submenu-bf">
                                    <ul id="menu-head-submenu1" class="menu">
                                        <li id="menu-item-524" class="nav-subt menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-has-children menu-item-524"><a href="/" aria-current="page">menu</a>
                                            <ul class="sub-menu nav-sub-current">
                                                <li id="menu-item-504" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-504"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-505" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-505"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-506" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-506"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-507" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-507"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-508" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-508"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-509" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-509"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-510" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-510"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-511" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-511"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-512" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-512"><a href="/">sub-menu</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
    
                            </div>
                            <div class="nav-submenu">
                                <i class="iconfont icon-globe"></i>
                                <div id="head-submenu-bf" class="head-submenu-bf">
                                    <ul id="menu-head-submenu1" class="menu">
                                        <li id="menu-item-524" class="nav-subt menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-has-children menu-item-524"><a href="/" aria-current="page">menu</a>
                                            <ul class="sub-menu nav-sub-current">
                                                <li id="menu-item-504" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-504"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-505" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-505"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-506" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-506"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-507" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-507"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-508" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-508"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-509" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-509"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-510" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-510"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-511" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-511"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-512" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-512"><a href="/">sub-menu</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-submenu">
                                <i class="iconfont icon-check"></i>
                                <div id="head-submenu-bf" class="head-submenu-bf">
                                    <ul id="menu-head-submenu1" class="menu">
                                        <li id="menu-item-524" class="nav-subt menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-has-children menu-item-524"><a href="/" aria-current="page">menu</a>
                                            <ul class="sub-menu nav-sub-current">
                                                <li id="menu-item-504" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-504"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-505" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-505"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-506" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-506"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-507" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-507"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-508" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-508"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-509" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-509"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-510" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-510"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-511" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-511"><a href="/">sub-menu</a></li>
                                                <li id="menu-item-512" class="menu-item menu-item-type-taxonomy menu-item-object-bfcat menu-item-512"><a href="/">sub-menu</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /row1 -->
                        <div class="nav-submenu-row">
                            <div class="nav-submenu">
                                <div class="nav-subt"><a href="/">xxxx</a></div>
                                <li><a href=""> End Effector Providers</a></li>
                                <li><a href="">Pneumatic End Effector Providers</a></li>
                                <li><a href="">Pneumatic End Effector Providers</a></li>
                                <li><a href="">Pneumatic End Effector Providers</a></li>
                            </div>
                            <div class="nav-submenu">
                                <div><a href="/">xxxx</a></div>
                            </div>
                            <div class="nav-submenu">
                                <div class="nav-subt"><a href="/">xxxx</a></div>
                                <li><a href="">Pneumatic End Effector Providers</a></li>
                                <li><a href="">Pneumatic End Effector Providers</a></li>
                                <li><a href="">Pneumatic End Effector Providers</a></li>
                                <li><a href="">Pneumatic End Effector Providers</a></li>
                            </div>
                            <div class="nav-submenu">
                                <div class="nav-subt"><a href="/">xxxxxx</a></div>
                            </div>
                        </div>
                        
                    </div>
                </div>      
            </nav>
        </div>
    </header>
    <!-- /header -->
